apiVersion: v1
kind: PersistentVolume  
metadata:     
  name: example-pre-provisioned-pv
  labels:
    name: example-pre-provisioned-pv
  annotations:
    pv.kubernetes.io/provisioned-by: csi.lightbitslabs.com
spec:
  accessModes:
  - ReadWriteOnce       
  capacity:   
    storage: {{ (required "storage field is required" .Values.storage) }}
  csi:
    driver: csi.lightbitslabs.com
    fsType: {{ .Values.global.storageClass.fsType }}
    controllerExpandSecretRef:
      name: {{ .Values.global.jwtSecret.name }}
      namespace: {{ .Values.global.jwtSecret.namespace }}
    controllerPublishSecretRef:
      name: {{ .Values.global.jwtSecret.name }}
      namespace: {{ .Values.global.jwtSecret.namespace }}
    nodePublishSecretRef:
      name: {{ .Values.global.jwtSecret.name }}
      namespace: {{ .Values.global.jwtSecret.namespace }}
    nodeStageSecretRef:
      name: {{ .Values.global.jwtSecret.name }}
      namespace: {{ .Values.global.jwtSecret.namespace }}
    volumeHandle: mgmt:{{ (required "mgmtEndpoints field is required" .Values.global.storageClass.mgmtEndpoints) }}|nguid:{{ (required "lightosVolNguid field is required" .Values.lightosVolNguid) }}|proj:{{ .Values.global.storageClass.projectName }}|scheme:grpcs
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ .Values.global.storageClass.name | quote }}
  volumeMode: {{ (required "volumeMode field is required" .Values.volumeMode) }}
